ListView {
    width: 20%;
}

NoteEditor {
    border: solid $border-blurred;
}

ConfirmScreen Vertical {
    align: center middle;
    width: 30%;
    height: 30%;
    border: solid $error;
}

ConfirmScreen {
    align: center middle;
}